@import url("https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #FFF;
  font-weight: 800; }

h1 {
  font-size: 250%; }

h2 {
  font-size: 225%; }

h3 {
  font-size: 200%; }

h4 {
  font-size: 175%; }

h5 {
  font-size: 150%; }

h6 {
  font-size: 125%; }

p,
a,
li {
  font-family: "Open Sans", sans-serif;
  color: #FFF; }

li {
  list-style: none; }

a {
  text-decoration: none; }

/* containers */
html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  background-color: #101b24;
  background-image: url("/siege_site/assets/full/r6-siege-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #FFF; }

/* generic containers */
/* span containers */
.container {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  width: 100%;
  margin: auto; }

.flex_column {
  flex-direction: column; }

.flex_row {
  flex-direction: row;
  display: flex; }

.span12,
.span10,
.span9,
.span8,
.span6,
.span4,
.span3,
.span2,
.span1 {
  margin: auto;
  justify-content: space-between; }

.span12 {
  width: 100%; }

.span11 {
  width: 91.3%; }

.span10 {
  width: 83.4%; }

.span9 {
  width: 75%; }

.span8 {
  width: 66.6%; }

.span7 {
  width: 58.3%; }

.span6 {
  width: 50%; }

.span5 {
  width: 41.6%; }

.span4 {
  width: 33.3%; }

.span3 {
  width: 25%; }

.span3-m {
  width: 23%;
  margin: 1%;
  display: inline-block; }

.span2 {
  width: 16.6%; }

.span1 {
  width: 8.3%; }

nav {
  background-color: rgba(16, 26, 36, 0.75);
  min-height: 100px;
  height: auto;
  width: 100%;
  justify-content: space-between; }
  nav a.span2 {
    margin: 0; }
  nav ul {
    justify-content: space-between;
    margin: 2%; }
    nav ul li {
      width: auto;
      margin: auto 10px; }
      nav ul li a {
        font-family: "Open Sans Condensed", sans-serif;
        font-weight: 800;
        font-size: 150%; }

/* homepage */
.map_container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 200px; }
  .map_container a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end; }

.overlay {
  width: 100%;
  background-color: rgba(16, 26, 36, 0.75); }
  .overlay h4 {
    margin: 15px; }

/* image stylings */
.header_icon {
  width: 80%;
  margin: 5%; }

.floorplan {
  width: 95%;
  max-width: 1024px;
  height: auto;
  border: 3px solid #E1E1E1;
  margin: auto 2.5%; }

/* map pages */
.header_image {
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: none;
  background-size: cover; }

.map_info {
  background-color: rgba(16, 26, 36, 0.75);
  min-height: 300px;
  margin-top: -100px; }

.map_header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 1% 5%; }

.map_body {
  width: 90%;
  margin: 1% 5%; }
  .map_body .dropdown {
    border: 1px solid #FFDB00;
    margin: 2% auto;
    background-color: #101b24; }
  .map_body .dropdown_header {
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding: 0 2.5%;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer; }
    .map_body .dropdown_header h1 {
      color: #FFDB00; }
  .map_body .floors {
    min-height: 60px; }
    .map_body .floors .floor {
      width: 95%;
      margin: auto 2.5%; }
  .map_body .tips .tip {
    width: 95%;
    margin: 2.5%; }
    .map_body .tips .tip h2 {
      margin: auto 2.5%; }
    .map_body .tips .tip ul li {
      margin: 1% auto; }

/*# sourceMappingURL=style.css.map */
