form.styled {
    width: 100%;
    margin: 0 auto;
    background-color: $second-bg-color;
    transition: all 250ms linear;
    opacity: 0;
    flex-wrap: wrap;
    top: -1000px;
    z-index: -20;

    &.hidden {
        display: none;
    }


    label {
        color: $main-color;
        position: relative;
        // top: 2rem;
        // left: $global-padding;
        transition: all 250ms linear;
    }

    > p {
        padding: $global-padding;
    }

    p:last-child {
        padding: 0;
        margin: 0;
    }
    
    input {
        background-color: transparent;
        border-left: 0;
        border-top: 0;
        border-right: 0; 
        border-bottom: 1px solid $main-color;
        margin-bottom: 1px;
        box-shadow: none;
        outline: 0;
        color: $main-color;
  
        &:focus {
            background-color: transparent;
            border: none;
            border-bottom: 2px solid $main-color;
            margin-bottom: 0;
            box-shadow: none;

            ~ label {
                color: #9d9d9d;
                transform: translate(-12%, -50%) scale(0.75);
            }
        }
    }

    input[type=file] {
        border-bottom: none;
    }

    input[type=submit] {
        width: 100%;
        border: none;
    }

    &.show {
        top: 0;
        opacity: 1;
        display: flex;
        transition: all 250ms linear;
        z-index: 10;
    }
}